---

import Layout from '../layouts/Page.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
>
	<p class="mb-[1em]">
		I am Sumit Datta, an extremely passionate software engineer with 15 years of experience, mostly at
		fast-paced startups.
	</p>
	<p class="mb-[1em]">
		I am entrepreneurial by nature, have built and failed at a few startups. I am very hands-on when
		it comes to software/product development. I am eager, curious and also a good listener. I aim to
		be a resourceful team member/leader to build delightful user experiences.
	</p>

	<h3 class="text-xl font-bold my-4">My core values, guiding principles</h3>
	<ul class="list-disc list-inside mb-[1em]">
		<li>Build for the <strong>long term</strong></li>
		<li><strong>Motivated team</strong> is greater than the sum of individuals</li>
		<li><strong>Ownership</strong> - people do more when they are working for themselves</li>
		<li><strong>Refactor</strong> your product, <strong>iterate</strong> quickly - focus on user needs</li>
		<li>
			Build <strong>thin backends</strong> whenever possible, do more in frontend, close to the user
		</li>
		<li><strong>Processes</strong> are only as good as the people who practice it</li>
		<li><strong>Accept failure</strong>, every day you can start a new attempt</li>
	</ul>

	<h3 class="text-xl font-bold my-4">Degrees and certificates</h3>
	<h4 class="text-lg font-bold">Bachelor of Science in Computer Science</h4>
	<p class="mb-[1em]">
		From <a
			href="https://en.wikipedia.org/wiki/University_of_Calcutta"
			target="_blank"
			rel="noopener noreferrer">University of Calcutta</a
		> (2006).
	</p>
	<p class="mb-[1em]">
		Successfully participated in <a
			href="https://summerofcode.withgoogle.com/"
			target="_blank"
			rel="noopener noreferrer">Google Summer of Code</a
		> 2006, for <a
			href="https://www.drupal.org/forum/general/news-and-announcements/2006-08-16/summer-of-code-2006-test-the-results"
			target="_blank"
			rel="noopener noreferrer">Drupal</a
		>.
	</p>

	<h3 class="text-xl font-bold my-4">Work experience</h3>

	<h4 class="text-lg font-bold mt-4">Leader of Software Engineering at Hearth Display Inc.</h4>
	<p class="mb-[1em]"><em>November 2021 - October 2022</em></p>
	<p class="mb-[1em]">
		I helped lay out the core software product with FastAPI, Python, PostgreSQL, React, Zustand,
		TypeScript and React Native. The Hearth application runs on a 27” tablet (Android) with a React
		Native application and there are web applications with React. We built a RESTful API with
		FastAPI and Python, SQLAlchemy as ORM. I helped set up CI/CD with GitHub actions, Ansible. I
		also helped mentor 2 younger engineers, worked with the Product Manager in setting up processes
		for regular work and hiring. I was working remotely from India.
	</p>

	<h4 class="text-lg font-bold mt-4">Founder of dwata</h4>
	<p class="mb-[1em]"><em>November 2019 - September 2021</em></p>
	<p class="mb-[1em]">
		I have been traveling around SE Asia for some headspace, and building <a
			href="https://dwata.com"
			target="_blank"
			rel="noopener noreferrer">dwata</a
		>, a data exploration tool that does not need any SQL knowledge. I joined On Deck (a platform for
		learning founders) in order to find like minded people and potential co-founder. I also
		participated in Y Combinator Startup School in 2020. Since early 2021 I have been mainly
		collaborating on MVPs for other On Deck founders and experimenting on data exploration, no-code
		tools on the side.
	</p>

	<h4 class="text-lg font-bold mt-4">Consultant & Founder of Travlyng</h4>
	<p class="mb-[1em]"><em>August 2017 - November 2019</em></p>
	<p class="mb-[1em]">
		Primarily work as a consultant for a few startups (work remotely from India). Moonlight on my own
		product, <a href="https://twitter.com/travlyng" target="_blank" rel="noopener noreferrer"
			>Travlyng</a
		>, a network for avid travelers to sell their travel content as usable guides for other
		travelers.
	</p>

	<h4 class="text-lg font-bold mt-4">Lead Developer at Mylittlejob GmbH</h4>
	<p class="mb-[1em]"><em>April 2015 - June 2017</em></p>
	<p class="mb-[1em]">
		Working with <a href="https://www.mylittlejob.com/" target="_blank" rel="noopener noreferrer"
			>Mylittlejob GmbH</a
		>, leading a very small development team to build a Python (Falcon, SQLAlchemy), PostgreSQL,
		ReactJS (Redux, Router, FormatJS) based application. It is a marketplace for students to find
		online work. Job creation, job management workflow, payment, payout, etc.
	</p>

	<h4 class="text-lg font-bold mt-4">Python Developer at Smaato Inc.</h4>
	<p class="mb-[1em]"><em>September 2014 - March 2015</em></p>
	<p class="mb-[1em]">
		Working for <a href="https://www.smaato.com/" target="_blank" rel="noopener noreferrer"
			>Smaato Inc</a
		>. In September 2014 I started working as a consultant Python developer for Smaato, working
		remotely from India. The project was built using Django, using MongoDB. In February 2015 I
		joined the company as a full time employee in Hamburg, Germany. In Smaato I have used Django,
		OAuth toolkit, DRF, Flask, Tornado for various projects. Most of my work is around building
		RESTful APIs.
	</p>

	<h4 class="text-lg font-bold mt-4">Software Engineer at Eco Market</h4>
	<p class="mb-[1em]"><em>June 2013 - December 2013</em></p>
	<p class="mb-[1em]">
		Worked with Eco Market (London, UK - remote) as Software Engineer. It is a marketplace for
		environmentally friendly, eco and natural products. Being part of a very small team, I used to
		look into all aspects of development. Most notably - integration with Sailthru, user tracking and
		analytics, reporting with Chartio (SQL based), implementing new design handed over by designer.
	</p>

	<h4 class="text-lg font-bold mt-4">Software Engineer at Feastly</h4>
	<p class="mb-[1em]"><em>December 2012 - June 2013</em></p>
	<p class="mb-[1em]">
		Worked with <a href="https://eatfeastly.com/" target="_blank" rel="noopener noreferrer">Feastly</a
		> (Washington DC - remote) as Software Engineer. It is a marketplace for cooks to host dinners at
		their convenient location. I was the sole engineer and looked into every aspect of the product
		development, from upgrading Django (1.3 - 1.5 with custom user), to new features, implementing
		new design, deployments, payment processing (Balanced Payments/PayPal), etc.
	</p>

	<h4 class="text-lg font-bold mt-4">Senior Mentor</h4>
	<p class="mb-[1em]"><em>September 2012 - December 2012</em></p>
	<p class="mb-[1em]">
		Consulting for a Web Development company as a senior mentor, looking over development, sales,
		technical support and internal processes. Introduced Yii (PHP), Git, Amazon Web Services,
		memcached to the development team. Helped the sales teams to consult prospective customers,
		understand needs and win projects.
	</p>

	<h4 class="text-lg font-bold mt-4">Personal Sabbatical</h4>
	<p class="mb-[1em]"><em>January 2012 - August 2012</em></p>
	<p class="mb-[1em]">
		Took a break from day jobs and tried working on some personal product concepts. Worked on an
		Email/Social based communication platform. It was planned as an Inbox for Twitter, Email,
		Facebook, Feeds and other streaming content. Built with Node.js, Celery, RabbitMQ, MySQL,
		Python.
	</p>

	<h4 class="text-lg font-bold mt-4">Framework Engineer at MobStac</h4>
	<p class="mb-[1em]"><em>July 2011 - December 2011</em></p>
	<p class="mb-[1em]">
		Worked at <a href="https://www.beaconstac.com/" target="_blank" rel="noopener noreferrer"
			>MobStac</a
		> (Bangalore, India) as a Framework Engineer. This was the first company where I started working
		with Django. I worked on multiple aspects, from new features, to bug fixing, a new Debian (.deb
		packaging) based deployment system, iPad based simulated-native application in JavaScript
		(gestures recognized) for their TechCrunch Disrupt launch. The app had native look and feel, and
		worked with a custom built JavaScript engine for rendering.
	</p>

	<h4 class="text-lg font-bold mt-4">Tech Lead at forums.com</h4>
	<p class="mb-[1em]"><em>October 2009 - June 2011</em></p>
	<p class="mb-[1em]">
		forums.com (Kolkata, India) tech lead. LAMP stack with Redis, Tokyo Cabinet, Gearman, some
		Python. I managed a team of 10, and looked into all aspects of operations and development.
	</p>

	<h4 class="text-lg font-bold mt-4">Co-founder of Pixlie</h4>
	<p class="mb-[1em]"><em>December 2006 - December 2008</em></p>
	<p class="mb-[1em]">
		Worked at Pixlie, a startup that I co-founded. Built hispanito.com as a social network, LAMP
		stack, reached 12 Million Page Views / month, with 100K+ monthly active users. Heavy memcached
		usage. Started working on Amazon Web Services.
	</p>

	<h4 class="text-lg font-bold mt-4">Google Summer of Code</h4>
	<p class="mb-[1em]"><em>March 2006 - August 2006</em></p>
	<p class="mb-[1em]">Google Summer of Code for Drupal, GData module development.</p>

	<h4 class="text-lg font-bold mt-4">Project Lead at Intrasoft Technologies</h4>
	<p class="mb-[1em]"><em>2005 - December 2005</em></p>
	<p class="mb-[1em]">
		Worked at Intrasoft Technologies <a
			href="http://www.123greetings.com/"
			target="_blank"
			rel="noopener noreferrer">123greetings.com</a
		>, conceptualized and lead their internal work/project management application - this was a task
		management software for a 90 people company in an era when task management was still on
		pen/paper and the “Intranet” was still a word.
	</p>
</Layout>
