---
import { SITE_DESCRIPTION } from "../consts";
import Page from "../layouts/Page.astro";
---

<Page title="Hello, Stranger!" description={SITE_DESCRIPTION}>
    <p class="mb-[1em] text-gray-100">
        I am Sumit Datta, an extremely passionate software engineer with 16
        years of experience, mostly at early, fast-paced startups.
    </p>
    <p class="mb-[1em] text-gray-100">
        I am entrepreneurial by nature, have built and failed at a few startups.
        I am very hands-on when it comes to software/product development. I am
        eager, curious and also a good listener. I have been part of or built or
        lead teams in the US, Canada, Germany and India. Although I have not
        been to the Americas.
    </p>
</Page>
