---
import Layout from '../layouts/Page.astro';
import ProjectCard from '../components/ProjectCard.astro';
import projects from '../data/projects.json';
---

<Layout title="Projects" description="A list of my projects.">
	<div class="max-w-3xl mx-auto">
		{projects.map(project => (
			<ProjectCard project={project} />
		))}
	</div>
</Layout>
